@import '../../node_modules/kouto-swiss'

normalize()
box-sizing-reset()


body
    gs( "fluid" )
    background-image linear-gradient( -45deg, white, red )
    color white
    font-family font-stack("Arial")
    transition 1s all ease-in-out


div
    col(1)